@charset "UTF-8";
/*Importações*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*Variáveis*/
:root{
    --amarelo: #EBBB30;
    --azulEscuro: #0502d3;
    --azulClaro: #0275EB ;
    --titulo: "Lobster", Verdana, sans-serif;
    --subTitulo: font-family: "DM Serif Text", Verdana, sans-serif;
    --text: font-family: Verdana, Tahoma, sans-serif;
}

/*Estilização da header*/

header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 125px;
    background-image: linear-gradient(to right, var(--azulEscuro), var(--azulClaro));
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

a{
    text-decoration: none;
}

.name{
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: var(--amarelo);
}

i.material-icons{
    font-size: 3em;
    
    margin: 10px 15px 0px 20px;
}

h1#title{
    font-family: var(--titulo);
    font-size: 3em;
    
}


.navbar{
    list-style-type: none;
    white-space: nowrap;
}

#menu{
    color: white;
    display: none;
}

.navbar li{
    display: inline-block;
    color: white;
    padding-bottom: 2px;
    border-bottom: solid 1px white ;
    margin-right: 40px;
    font-size: 1.1em;
    transition: 0.1s;
}

.navbar li a{
    color: white;
    
}

.navbar li:hover{
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: solid 4px var(--amarelo) ;
}

/*Estilização da home*/

main{
    width: 100%;
    margin-top: 125px;
}

.home{
    width: 100%;
    height: 100%;
    background-image: url(../imgs/Fundoabacaxi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 79vh;
    background-color: rgb(5, 2, 211, 0.3);
}

.home h2, .home p{
    position: relative;
}

.content{
    width: 40vw;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    
}

.content h2{
    display: inline;
    font-family: var(--subTitulo);
    font-size: 3.5em;
    font-weight: bolder;
    border-bottom: 7px solid var(--amarelo);
    padding-bottom: 5px;
}

.content p{
    display: inline;
    font-size: 3.5em;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#piguin{
    width: 450px;
    margin-top: 75px;
    height: 400px;
    border-radius: 50%;
}

.gif{
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    position: relative; 
    margin-bottom: 62px;
}

/*Estilização de Facilidades*/

.facilidades{
    display: flex;
    width: 100%;
    padding: 3%;
    
}


.facilidades-rev{
    display: flex;
    padding: 3%;
    flex-direction: row-reverse;
}

.fundo-facilidades{
    width: 100%;
    background-image: linear-gradient(to bottom, var(--amarelo), var(--azulClaro));
}


.piscina{
    width: 100%;
    border: 2px solid black;
    box-shadow: 5px -5px 18px #fff;
    border-radius: 5px;
    transition: all 1s;
}

.piscina:hover{
    transform: translateY(-10px);
    transition: all 1s;
}

.esquerda h2{
    text-align: center;
    margin-bottom: 6%;
    font-family: "Lobster", Verdana, sans-serif;
    font-size: 180%;
}

.esquerda{
    flex-basis: 36%;
    margin: auto;
}

.direita{
    flex-basis: 36%;
    margin: auto;
}

/*Estilização da localização*/
.loc{
    background-image: linear-gradient(to bottom, var(--azulClaro), var(--amarelo));
    text-align: center;
    font-family: "Lobster", Verdana, sans-serif;
}

.loc h2{
    padding-bottom: 2%;
}


/*Estilização da Galeria*/
.galeria{
    display: grid;
    background-color: rgba(2, 119, 235, 0.479);
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "a1 a1 a6 a6"
    "a2 a3 a6 a6"
    "a4 a5 a6 a6"
    ;
    padding: 3%;
    text-align: center;
    gap: 1%;

}

.a1{
    background-color: transparent;
    grid-area: a1;
    border-radius: 26px;
    width: 30%;
    height: 61%;
    margin: auto;
    border: 0px solid transparent;
}

.galeria div{
    border: 5px solid var(--amarelo);
}

#THEGOAT{
    height: 150%;
    width: 150%;
    position: relative;
    bottom: 55px;
    left: -50px;
}

.a2{
    background-color: rgb(215, 26, 26);
    background-image: url(../imgs/festaroxa.jpg);
    background-position: center;
    background-size: cover;
    grid-area: a2;
    width: 78%;
    height: 81%;
    border-radius: 9px;
    margin: 0px 54px;
}


.a3{
    background-color: rgb(221, 233, 0);
    background-image: url(../imgs/piscina.jpg);
    background-position: center;
    background-size: cover;
    grid-area: a3;
    margin: 0px 12px;
    border-radius: 9px;
    width: 78%;
    height: 81%;
}


.a4{
    background-color: rgb(0, 0, 0);
    background-image: url(../imgs/nadador.jpg);
    background-position: center;
    background-size: cover;
    grid-area: a4;
    margin: 0px 54px;
    border-radius: 9px;
    width: 78%;
    height: 81%;
}


.a5{
    background-color: rgb(38, 0, 255);
    background-image: url(../imgs/sinuca.jpg);
    background-position: center;
    background-size: cover;
    grid-area: a5;
    margin: 0px 12px;
    border-radius: 9px;
    width: 78%;
    height: 81%;
}


.a6{
    background-color: rgb(68, 0, 23);
    background-image: url(../imgs/taças.jpg);
    background-position: center;
    background-size: cover;
    grid-area: a6;
    margin: auto;
    border-radius: 9px;
    width: 100%;
    height: 61%;
}



/*Estilização da Reserva*/

.reserva{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azulClaro);
    border: 3px solid var(--amarelo);
}

.caixa{
    width: 30%;
    height: 570px;
    background-color: var(--amarelo);
    border-radius: 20px;
    border: 5px solid var(--azulEscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa h2{
    color: var(--azulEscuro);
    font-family: var(--subTitulo);
    font-size: 2.5em;
    text-shadow: 1.5px 1.5px 1.5px white;
    border-bottom: 4px solid var(--azulClaro);
    margin: 15px 0px 15px 0px;
}

.caixa p{
    color: var(--azulEscuro);
    font-size: 1.7em;
    text-shadow: 1px 1px 1px white;
    margin: 10px 0px;
    text-align: center;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 345px;
}

label{
    color: white;
    text-shadow: 1px 0px 0px white;
    font-size: 2em;
}

input{
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    height: 35px;
    width: 300px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

button{
    font-size: 1em;
    padding: 20px 40px;
    background-color: var(--azulClaro);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 8%;
}

button:hover{
    color: var(--azulClaro);
    background-color:white ;
    border: 2px solid var(--azulClaro);
    transition: 0.3s;
    cursor: pointer;
}


/*Estilização do Footer*/

footer{
    background-color: var(--azulEscuro);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
}

footer span{
    font-weight: bolder;
}
