@charset "UTF-8";

/*Telas Maiores*/
@media(min-width: 2559px){
    .home::before{
        height: 55vh;
    }
    .gif{
        height: 55vh;
        margin-bottom: 0px;
    }
}

@media (max-width: 1300px){
    .form-group{
        margin-bottom: 0px !important;
    }
    .button{
        margin-top: 15px;
    }
    .box-control{
    width: 85%;
    }
}


/*Tablets*/
@media (max-width: 1030px) {
    
    header{
        display: flex;
        justify-content: space-between;
    }

    .navbar{
        width: 0px;
        height: 0px;
    }

    .navbar a{
        display: none;
    }

    #menu{
        display: inline;
        margin-left: 10px;
    }

    .align{
        display: flex;
        flex-direction: row-reverse;
    }
    
    .home::before{
        height: 55vh;
    }
    
    
    #piguin{
        width:350px;
        height:300px;
        margin-top: 0px;
    }

    .gif{ 
       height: 45vh;
    }

    .content h2{
        font-size: 2.5em;
    }

    .content p{
        font-size: 2.5em;
    }

    /* MUDANÇA GALERIA */
    .boot-galeria h1{
        border-bottom: solid 3px #EBBB30;
        margin: auto;
        width: 14%;
        margin-bottom: 0.5%;
    }

    .carousel{
        position: relative;
        width: 59%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .box-main{
        width: 45%; 
    }

    /* MUDANÇA GALERIA */
    .boot-galeria h1{
        border-bottom: solid 3px #EBBB30;
        margin: auto;
        width: 18%;
        margin-bottom: 0.5%;
    }

    .carousel{
        position: relative;
        width:72%;
        margin: auto;
    }

}



/*Celulares*/
@media (max-width: 750px) {
    .home{
        flex-direction: column;
        height: 100vh;
    }
    
    .home::before{
        height: 100vh;
    }
    
    .content{
        width: 380px;
        margin-bottom: -15px;
        margin-top: 60px;
    }

    #piguin{
        margin-top: 10px;
    }

    #icon-nav{
        height: 55px;
    }

    /* MUDANÇA GALERIA */
    .boot-galeria h1{
        border-bottom: solid 3px #EBBB30;
        margin: auto;
        width: 41%;
        margin-bottom: 0.5%;
    }

    .carousel{
        position: relative;
        width: 93%;
        margin: auto;
    }
}



@media (max-width: 567px) {
    .facilidades{
        flex-direction: column;
    }

    .facilidades-rev{
        flex-direction: column;
    }

    .direita{
        padding: 2%;
        text-align: justify;
    }

    .esquerda img{
        width: 100%;
    }

    .box-main{
        width: 75%;
    }
    
}


/*Celulares pequenos*/

@media (max-width: 380px) {
    .content h2{
        font-size: 1.5em;
    }
    
    .content p{
        font-size: 1.5em;
    }

    .content{
        width: 70vw;
    }

    .gif{
        width: 40vw;
        height: 35vh;
    }

    #piguin{
        width:250px;
        height:200px;
    }

    .caixa{
        height: 575px;
    }
    
    .box-main{
        width: 85%;
    }
    footer{
        font-size: 0.9em;
    }

}